<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Image demo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home" th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a href="/mygallery" th:href="@{/mygallery}">My Gallery</a>
                </li>
                <li>
                    <a href="/upload" th:href="@{/upload}">Upload</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Log in/Register
                    </a>
                </li>
                <li>
                    <a href="/logout" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>