<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="text" name="gallery"/>
    <input type="submit" value="Submit" />
</form>

<!--<p>images you previously uploaded</p>-->
<!--<table>-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th> Image </th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        <tr th:if="${images.empty}">-->
<!--            <td colspan="2"> No Images Available </td>-->
<!--        </tr>-->
<!--        <tr th:each="image : ${images}">-->
<!--            <td><img th:src="*{'data:image/png;base64,'+image}" alt="" /></td>-->
<!--        </tr>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>