<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Single Image</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link th:href="@{/MyCSS.css}" href="/MyCSS.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>
    <div class="row">
        <a th:href="@{/photo/{name}(name = ${name})}" th:text="${name}"></a>
        <img th:src="*{'data:image/png;base64,'+image}" alt="" />


        <form th:action="@{/photo/{name}/delete(name = ${name})}" method="POST">
            <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit"
                    th:text="Delete"></button>
        </form>
    </div>
</div>
</body>
</html>